[req]
prompt = no
distinguished_name = dn
req_extensions = ext

[dn]
CN = nginx-1.local
emailAddress = admin@mycompany.local
O = MyCompany
OU = IT_Departmen
L = Tomsk
C = RU

[ext]
subjectAltName = DNS:nginx-1.local,IP:127.0.0.1
